@import '~@/globals'

.footer
  display flex
  flex-wrap wrap
  box-sizing border-box
  border-top $border-main
  align-content center
  align-items center
  background-color $bg-main
  padding $mobile-paddings
  padding-left $desktop-paddings
  padding-right $desktop-paddings
  font-size 12px
  white-space nowrap
  color $inactive-text-color
  max-width 100vw
  @media (max-width 800px)
    border-top none
    justify-content center
    padding-left $mobile-paddings
    padding-right $mobile-paddings
  &__item
    margin-right 20px
    &:last-child
      margin-right 0
    @media (max-width 800px)
      line-height 1.5em
  &__link
    text-decoration none
    color inherit
  &__copyright
    text-align right
    margin-left auto
    @media (max-width 800px)
      margin-left inherit
      text-align inherit
      line-height 1.5em
